.App {
  text-align: center;
}

#root {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#navbar {
  display: flex;
  background-color: #20B0FF;
  height: 10vh;
  line-height: 10vh;
}

#navbar-logo-container {
  color: #003604;
  font-size: 32px;
  flex-grow: 8;
}

#navbar-link-container {
  display: flex;
  justify-content: flex-end;
  background-color: #20B0FF;
  color: purple;
  flex-grow: 1;
  
}

.navlink {
  color: white;
  text-decoration: none;
  margin: 0 24px;
}

.navlink:hover {
  color: #003604;
  font-size: large;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

#login {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  justify-content: space-around;
  /* flex-grow: ; */
}

#login-buffer {
  height: 40vh;
}

#complaints-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#toggle-container {
  display: flex;
  justify-content: space-between;
}

#complaints-table-container {
  display: flex;
  justify-content: center;
}

#toggle {
  display: flex;
  margin: 0 16px;
  justify-content: center;
  width: 100%;
}

.toggle-element {
  margin: 0 8px;
  background-color: #00dbbe;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.toggle-element-selected {
  background-color:#00927f;
}
table {
  border: 3px solid black;
}

th {
  background-color: #66c9ff;
}

td {
  border: 1px solid black;
}

